h1, h2, h3 , h4, h5, h6 {
    font-family: 'poppins', sans-serif;
  }
  
p{
    font-family: 'poppins', sans-serif;
}
/* General */
.customNav {
    position: fixed;
    width: 100%;
    background-color: transparent !important;
    background-size: cover;
  }

  .navbar-nav{
    margin-left: 80%;
    margin-right: 0 !important;
}

  .navbar-brand img {
    padding-right: 15px;
    width: 80;
  }
  .nav-item {
    margin: 0px 15px;
  }
  

 /* Jumbotron  */
.jumbotron {
    background-image: url("../images/Spin-the-meal-hero.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .jumbotron h1{
    color: white;
  }
  
  .jumbotron p{
    color: white;
  }
  /* Jumbotron copy */

  .jumboCopy h3{
    color: #E473B7;
  }

  .jumboCopy{
    background-color: #EAE9E4;
    padding: 60px;
  }
  

.btn{
    color: #E473B7;
}

.media{
    margin: 60px;
    gap: 10px;
    padding: 20px;
}

.media img{
    height: 700px;
    width: 800px;
    margin: none;
}

.container{
    padding: 80px;
    justify-content: space-between;
    gap: 20px;
}

.row img{
    margin: 20px;
}
/*footer----------------------------*/

#footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 40px;
    max-width: 1400px;
    margin: 0 auto;
    text-decoration: none;
}

 .connect{
    padding:30px;

 } 
  .connect h2 {
    font-family: Montserrat, sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 38px;
    color: #2E2E2E;
    max-width: 660px;
    min-width: 300px;
    width: 100%;
    margin: 0;
    padding: 0;
  }




.footericons{
    display: flex;
    flex-flow: row nowrap;
    align-items: baseline;
    position: relative;
    gap: 10px;
    justify-content: center;
    max-width: 1400px;
    margin: auto;
}
 .footericons p{
    font-family: montserrat, sans-serif;
    font-size: x-small;
    font-weight: 300;
    margin-left: auto;
    justify-content: flex-end;
    text-align: right;
    max-width: 1400px;
  }
